/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #F1B2CE;
  --background: #000028 url("../images/cover-image-dark.png")
    no-repeat center / cover;
  --accent-color: #FF0070;
  --text-color-accent: #DB00FF;
  --bg-color: #000028;
  --accent-color-title: #FF0070;
  --display-header-decor: inline-flex;
  --color-section-title: #FF0070;
  --decor-color: #FF0070;
}