/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #353430;
  --background: #FFF1F7 url("../images/cover-image-light.png")
    no-repeat center / cover;
  --accent-color: #FF8DCB;
  --text-color-accent: #FFC2E6;
  --bg-color: #353430;
  --accent-color-title: #FF8DCB;
  --display-header-decor: none;
  --color-section-title: #353430;
  --decor-color: #353430;
  --decor-color-opasity: rgba(53, 52, 48, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --background: #FFF1F7 url("../images/cover-image-light.png")
      no-repeat center / cover;
    --accent-color: #FF8DCB;
    --text-color-accent: #FFC2E6;
    --bg-color: #353430;
    --accent-color-title: #FF8DCB;
    --display-header-decor: none;
    --color-section-title: #353430;
    --decor-color: #353430;
    --decor-color-opasity: rgba(53, 52, 48, 0.4);
  }
}